@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-image: url(/images/wrinkled-paper-background-0lr7oy968evxzqd4.jpg);
}

.rpc-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    height: 600px;
    justify-content: space-between;
}

.heading p {
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    font-weight: bold;
}

.rpc-body .player-text-computer {
    display: flex;
    width: 1200px;
    justify-content: space-around;
}

.rpc-body .player-text-computer .player,
.rpc-body .player-text-computer .computer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.rpc-body .player-text-computer .text {
    align-self: center;
}

.rpc-body .player-text-computer .text p {
    width: 400px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    font-weight: bold;
}

.rpc-body .player-text-computer .player img,
.rpc-body .player-text-computer .computer img {
    height: 175px;
    width: 175px;
}

.rpc-body .player-text-computer .player p,
.rpc-body .player-text-computer .computer p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    text-align: center;
}

.rpc-body .player-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rpc-body .player-options .options {
    display: flex;
}

.rpc-body .player-options .options {
    display: flex;
    margin-bottom: 50px;
    gap: 50px;
}

.rpc-body .player-options .options button {
    padding: 0;
    border: none;
    background: none;
}

.rpc-body .player-options .options button img {
    height: 125px;
    width: 125px;
}

.rpc-body .player-options button img:hover {
    transform: scale(1.1);
}

.rpc-body .player-options .text-for-plays {
    font-family: 'Indie Flower', cursive;
    font-size: 32px;
    font-weight: bold;
}